@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./Assets/Images/pic1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(./Assets/Images/bg1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-batmobile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./Assets/Images/mobilebg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "batmfa";
  src: url(/public/batman/batmfa__.ttf) format("truetype");
}

.batmfa {
  font-family: "batmfa", sans-serif;
}

@font-face {
  font-family: "batmfo";
  src: url(/public/batman/batmfo__.ttf) format("truetype");
}

.batmfo {
  font-family: "batmfo", sans-serif;
}
